<div id="set-modal" class="set-modal hidden">
  <div class="set-modal__backdrop" data-close="true"></div>
  <div
    class="set-modal__content"
    role="dialog"
    aria-modal="true"
    aria-labelledby="set-modal-title"
    tabindex="-1"
  >
    <button type="button" class="set-modal__close" aria-label="Close set details">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="set-modal__body">
      <div class="set-modal__images"></div>
      <h3 id="set-modal-title" class="set-modal__title"></h3>
      <p class="set-modal__description"></p>
    </div>
  </div>
</div>
