/* Main styles entry point - imports all CSS modules */

@import './css/variables.css';
@import './css/base.css';
@import './css/utilities.css';
@import './css/components/hero.css';
@import './css/components/search.css';
@import './css/components/footer.css';

/* Import the remaining styles from the original styles.css */
/* These will be split into more components in a future refactor */
@import './styles.css';
